<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Eachproject.css">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="/">RJ</a></li>
            <li><a href="/projects">back</a></li>
        </ul>
    </div>
    <!-- Phhotos on right side scrolling  -->
    <!-- split screen parallax effect -->
    <div class="about">
        <div class="about-title">
            <h2>Project Description</h2>
        </div>
        <div class="about-pages">
            <div>
                <h2>photo 1</h2>
            </div>
            <div>
                <h2>photo 2</h2>
            </div>
            <div>
                <h2>photo 3</h2>
            </div>
        </div>
    </div>
</body>

</html>