<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<link rel="stylesheet" href="../assets/css/index.css">
	<title>Portfolio</title>
</head>
<body>
    <div class="container">
        <div class="circle-container">
            <div class="circle">
                <button id="close">
                  <i class="fa fa-times"></i>  
                </button>
                <button id="open">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>

        <div class="content">
            <h1>Amazing Article</h1>
            <small>Florin Pop</small>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad itaque impedit iusto nulla architecto, iste nostrum cum eius amet tempore. Obcaecati, quia saepe accusamus optio in nemo reiciendis doloribus odio facere ipsam officiis temporibus. Rerum sapiente doloremque officia recusandae aliquid ratione, voluptatibus veniam assumenda id at nobis quae dolore neque veritatis reprehenderit sint libero numquam! Vel, odit! Est excepturi, voluptas minus nemo sit minima sint ducimus ab vero, pariatur explicabo unde repellendus! Deleniti rerum iste libero labore, excepturi et veniam alias molestias nisi officiis facilis eius expedita consequuntur voluptatem explicabo. Porro exercitationem, autem pariatur necessitatibus quos sunt molestias suscipit ut.</p>

            <h2>Dog - Humans Best Friend</h2>
            <img src="https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="dog" />
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum molestias incidunt repudiandae! Commodi temporibus aperiam eos nam quod aliquid maxime, ipsam ratione suscipit dolores possimus excepturi quo soluta eius autem! Consequuntur, ab sapiente exercitationem autem minus tenetur eum in voluptatum impedit nesciunt sint beatae quidem doloribus vel quam illum itaque dignissimos non assumenda, nisi dolorem earum, incidunt perspiciatis? Rem distinctio enim blanditiis illum fugit, amet veritatis molestiae eligendi! Inventore iure nemo iusto unde, tempore aut?</p>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="/About"><i class="fas fa-user-alt"></i> About</a></li>
            <li><a href="/Projects"><i class="fa fa-puzzle-piece"></i> Projects</a></li>
            <li><a href="/Current-Project"><i class="fa fa-code"></i> Current</a></li>
        </ul>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/fontawesome.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>