<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/projects.css">
    <title>Portfolio</title>
</head>

<body>
    <nav>
        <a href="/">
            <i>&#x263A;</i>
            <b>Home</b>
        </a>
        <a href="/About">
            <i>&#x270E;</i>
            <b>About</b>
        </a>
        <a href="/Current-Project">
            <i>&#x260F;</i>
            <b>Current</b>
        </a>
        <span></span>
    </nav>
    <div class="content">
        <card>
            <h1>Project 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <a href="/projects/Project">Show more..</a>
        </card>
        <card>
            <h1>Project 2</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <a href="/projects/Project">Show more..</a>
        </card>
        <card>
            <h1>Project 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <a href="/projects/Project">Show more..</a>
        </card>
    </div>
</body>

</html>